<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Json schema:</strong>
    <%= project.json_schema %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= project.expiry %>
  </p>

</div>
