<%= render partial: 'components/project_nav'%>



  <div class='my-4'>
    <input type="text" class="form-control form-control-lg" placeholder='Ask a question!'>
  </div>



  <table class='table bg-white rounded border'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sale Price</th>
        <th>Discount Price</th>
        <th>Section</th>
        <th>Size</th>
        <th>Calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Product 1</td>
        <td>20 SAR</td>
        <td>18 SAR</td>
        <td>Dairy</td>
        <td>500ml</td>
        <td>150 calories</td>
      </tr>
      <tr>
        <td>Product 2</td>
        <td>15 SAR</td>
        <td>12 SAR</td>
        <td>Dairy</td>
        <td>1 liter</td>
        <td>200 calories</td>
      </tr>
      <tr>
        <td>Product 3</td>
        <td>10 SAR</td>
        <td>9 SAR</td>
        <td>Dairy</td>
        <td>250ml</td>
        <td>100 calories</td>
      </tr>
      <tr>
        <td>Product 4</td>
        <td>30 SAR</td>
        <td>25 SAR</td>
        <td>Dairy</td>
        <td>2 liters</td>
        <td>300 calories</td>
      </tr>
      <tr>
        <td>Product 5</td>
        <td>25 SAR</td>
        <td>22 SAR</td>
        <td>Dairy</td>
        <td>500ml</td>
        <td>250 calories</td>
      </tr>
      <tr>
        <td>Product 6</td>
        <td>18 SAR</td>
        <td>16 SAR</td>
        <td>Dairy</td>
        <td>1 liter</td>
        <td>150 calories</td>
      </tr>
      <tr>
        <td>Product 7</td>
        <td>12 SAR</td>
        <td>10 SAR</td>
        <td>Dairy</td>
        <td>250ml</td>
        <td>80 calories</td>
      </tr>
    </table>



<style>
  html, body {
    background-color: #f0f0f0;
  }
</style>